*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body h1{
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
   
}
.storeContent{
    display: grid;
    grid-template-columns: 30% 70%;
    border-top: 2px solid black;
   
}

.storeMainGrid1  img{
    transform: translateX(2rem);
    height: 8rem;
    /* height: 120%; */
}
.storeMainGrid1 {
    transform: translateY(1rem);
 padding-top: 1rem;
 padding-left: 2rem;
}

#storeHeadingLink{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: 700;
    font-size:1.4rem;
}
#star1,#star2,#star3,#star4{
    color: rgb(233, 233, 11);
    
}
#ratingNo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}
.ratingClass{
    display: flex;
    flex-direction: row;
}
#contentHighlight{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;  
    font-size: 1rem;  
}
#shopInnerContent{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:1rem ;
    line-height: 170%;

}
#s2star1,#s2star2,#s2star3{
    color: rgb(233, 233, 11);
}
.storeMainGrid2{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#miLogoforad{
    box-shadow: -2px 2px 19px 2px rgba(0,0,0,0.75);;
   

}